In [ ]:
Exercise 1

In [1]:
import numpy as np
arr = np.arange(1, 11)
reshaped_arr = arr.reshape(2, 5)
print("Original Array:", arr)
print("Reshaped Array (2x5):")
print(reshaped_arr)

Original Array: [ 1  2  3  4  5  6  7  8  9 10]
Reshaped Array (2x5):
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [ ]:
Exercise 2

In [3]:
import numpy as np
arr = np.arange(1, 21)
extracted = arr[5:16]
print("Original Array:", arr)
print("Extracted Elements (index 5 to 15):", extracted)

Original Array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Extracted Elements (index 5 to 15): [ 6  7  8  9 10 11 12 13 14 15 16]

In [ ]:
Exercise 3

In [5]:
import pandas as pd
fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruit_series['pears'] = 4
print(fruit_series)

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [ ]:
Exercise 4

In [7]:
import pandas as pd
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ian', 'Julia'],
    'age': [25, 30, 22, 28, 35, 27, 24, 29, 31, 26],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

      name  age  gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male
3    David   28    Male
4      Eva   35  Female
5    Frank   27    Male
6    Grace   24  Female
7   Hannah   29  Female
8      Ian   31    Male
9    Julia   26  Female

In [ ]:
Exercise 5

In [15]:
import pandas as pd
data = {
    'name': ['Aleena', 'Boby', 'xavier', 'Den', 'EvaMwol', 'Kannan', 'Chinnu', 'Aysha', 'Aswin', 'Jerreta'],
    'age': [25, 30, 22, 28, 35, 27, 24, 29, 31, 26],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
df['occupation'] = occupations
print(df)

      name  age  gender  occupation
0   Aleena   25  Female  Programmer
1     Boby   30    Male     Manager
2   xavier   22    Male     Analyst
3      Den   28    Male  Programmer
4  EvaMwol   35  Female     Manager
5   Kannan   27    Male     Analyst
6   Chinnu   24  Female  Programmer
7    Aysha   29  Female     Manager
8    Aswin   31    Male     Analyst
9  Jerreta   26  Female  Programmer

In [ ]:
Exercise 6

In [17]:
age_filtered_df = df[df['age'] >= 30]
print(age_filtered_df)

      name  age  gender occupation
1     Boby   30    Male    Manager
4  EvaMwol   35  Female    Manager
8    Aswin   31    Male    Analyst

In [ ]:
Exercise 7

In [19]:
import pandas as pd
data = {
    'name':  ['Aleena', 'Boby', 'xavier', 'Den', 'EvaMwol', 'Kannan', 'Chinnu', 'Aysha', 'Aswin', 'Jerreta'],
    'age': [25, 30, 22, 28, 35, 27, 24, 29, 31, 26],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female'],
    'occupation': ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
                   'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
}
df = pd.DataFrame(data)
df.to_csv("people.csv", index=False)
read_df = pd.read_csv("people.csv")
print(read_df)

      name  age  gender  occupation
0   Aleena   25  Female  Programmer
1     Boby   30    Male     Manager
2   xavier   22    Male     Analyst
3      Den   28    Male  Programmer
4  EvaMwol   35  Female     Manager
5   Kannan   27    Male     Analyst
6   Chinnu   24  Female  Programmer
7    Aysha   29  Female     Manager
8    Aswin   31    Male     Analyst
9  Jerreta   26  Female  Programmer